---
import Layout from '../../layouts/Layout.astro'
import Field from '../../components/Field.astro'
---

<Layout title="Calc iva">
  <h1 class="text-center text-2xl mt-5 font-[600]">Calculadora de IVA</h1>

  <article class="max-w-[500px] mx-auto mt-10 grid gap-5">
    <div class="flex-grow">
      <Field label="Neto" type="number" />
    </div>
    <div class="flex gap-5">
      <Field label="Iva" type="number" />
      <Field label="Bruto (incl. impuestos)" type="number" />
    </div>
    <div class="flex-grow">
      <Field label="Monto de impuestos" type="number" />
    </div>
  </article>
</Layout>
