---
import Layout from "../layouts/Layout.astro";
---


<Layout title="404 page not found">
  <div class="grid h-screen place-items-center gap-10">
    <img
      class="w-full max-w-[80%] h-[500px] object-cover rounded-[20px]"
      src="/public/images/404.gif"
    >
  </div>
</Layout>