---
import Layout from '../layouts/Layout.astro'
---

<Layout title="OniCalc | 404 page not found">
  <section class="grid justify-center content-start justify-items-center flex-grow text-steel-blue">
    <p class="text-[150px] font-[700] font-jet-brains-mono leading-none">404</p>
    <p class="text-xl">página no encontrada.</p>
    <a
      href="/"
      class="bg-dark-slate-blue px-5 py-3 rounded font-[600] hover:bg-dodger-blue hover:text-white mt-10 transition-colors w-max"
      >Volver al Inicio</a
    >
  </section>
</Layout>
