---
import Layout from '../layouts/Layout.astro'
import Anchor from '../components/Anchor.astro'


const listCalcs = [
  {
    'title': 'Vat Calcualdora',
    'url': '/calc/vat'
  }
]
---

<Layout title="OniCalc">
  <section
      class="mx-auto w-[80%] py-10 gap-5 text-lg place-items-start flex flex-grow flex-wrap"
    >
      {listCalcs.map(calc => (
        <Anchor url={calc.url} >{calc.title}</Anchor>
      ))}
    </section>

    <section class="bg-midnight-blue h-[60px]"></section>
</Layout>

<style></style>
