---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Multicalc">
	
	

	<section class="mt-10">

		<Card 
			text="Calcular IVA"
			url="/calc-iva"
		/>

		<Card 
			text="Calcular IMC"
			url="/calc-imc" 
		/>

		<Card 
			text="Convertir PX a REM"
			url="/calc-pxtorem" 
		/>

		<Card 
			text="Convertir PX a EM" 
			url="/calc-pxtoem"
		/>
		
		<Card 
			text="Convertir PX a Porcentaje"
			url="/calc-pxtopercentage" 
		/>
		
		<Card 
			text="Convertir PX a Base Unit" 
			url="/calc-pxtobaseunit"	
		/>

	</section>

</Layout>



<style>
	section {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
		gap: 20px;
	}
</style>