---
import Layout from '../layouts/Layout.astro'
import Anchor from '../components/Anchor.astro'

const listCalcs = [
  {
    title: 'Vat Calcualdora',
    url: '/calc/vat',
  },
  {
    title: 'Vat Calcualdora',
    url: '/calc/vata',
  },
]
---

<Layout title="OniCalc">


  <section
    class="mx-auto w-[80%] flex flex-col gap-16 text-lg flex-grow"
  >
    <div class="place-items-start flex flex-wrap gap-5">
      {listCalcs.map((calc) => <Anchor url={calc.url}>{calc.title}</Anchor>)}
    </div>
  </section>
</Layout>

<style></style>
