---
import Layout from '../layouts/Layout.astro';
import TopHeader from '../components/TopHeader.astro';
import Card from '../components/Card.astro';
---

<Layout title="MultiCalc">
	
	<TopHeader />

	<section class="mt-10">
		<Card 
			title="Calcular IVA"
			url="/calc_iva"
		/>

		<Card 
			title="Calcular IMC"
			url="/calc_imc" 
		/>

		<Card 
			title="Convertir PX a REM"
			url="/calc_pxtorem" 
		/>

		<Card 
			title="Convertir PX a EM" 
			url="/calc_pxtoem"
		/>
		
		<Card 
			title="Convertir PX a Porcentaje"
			url="/calc_pxtopercentage" 
		/>
		
		<Card 
			title="Convertir PX a Base Unit" 
			url="/calc_pxtobaseunit"	
		/>
	</section>

</Layout>



<style>
	section {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
		gap: 20px;
	}
</style>