---
import { BASE_URL } from "../js/constants";
---

<header class="flex flex-col gap-5">
  <div class="flex justify-between">
    <h1 class="text-dodger-blue text-2xl font-[700]">
      <a href={BASE_URL + '/'}>AsobiCalc</a>
    </h1>
    <div class="text-silver-gray flex gap-3 text-3xl *:p-5">
      <a href="#" class="icon-github"></a>
      <a href="#" class="icon-instagram"></a>
      <a href="#" class="icon-linkedin"></a>
      <a href="#" class="icon-Facebook"></a>
    </div>
  </div>
  <p>
    Herramientas de Cálculo en Línea, Simples y Eficientes.
  </p>
</header>

<style></style>
