---
import { BASE_URL } from "../js/constants.js";
---

<div class="flex items-center px-5 border-r-2 border-b-2 border-bg-200">
  <a href={`${BASE_URL}/`}>
    <p class="font-[600] text-xl">
      Oni<span class="text-2xl text-accent-blue-100">Calc</span>
    </p>
  </a>
</div>