@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/fredoka/Fredoka-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/fredoka/Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/fredoka/Fredoka-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/fredoka/Fredoka-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/fredoka/Fredoka-Bold.ttf') format('truetype');
    font-weight: 700;
}