---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.png" />
		<link rel="stylesheet" href="/fonts/fonts.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>

		<main class="mx-auto w-[90%] sm:w-[80%]">
			<slot />
		</main>


	</body>
</html>
<style is:global>
	@tailwind utilities;
	
	html {
		font-family: 'Fredoka', system-ui, sans-serif;
		@apply bg-dark-blue;
		background-size: 224px;
		@apply text-white
	}

	::-webkit-scrollbar {
		@apply bg-dark-blue;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-dark-navy-blue
	}

</style>
