---
import '../assets/fonts/inter.css'
import '../assets/fonts/jet-brains-mono.css'

import { ViewTransitions } from 'astro:transitions'
import { BASE_URL } from '../js/constants.js'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${BASE_URL}/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main class="app">
      <slot />
    </main>

    <!-- Wave -->
    <div class="fixed bottom-0 -z-10">
      <img
        class="object-cover min-w-[1200px]"
        src=`${BASE_URL}/src/assets/img/wave.svg`
        alt="figure-of-bars"
      />
    </div>
  </body><style is:global>
    @tailwind utilities;

    html {
      scrollbar-gutter: 15px;
      @apply bg-bg-100 font-jet-brains-mono text-text-100 font-[400];
    }

    ::-webkit-scrollbar {
      @apply bg-bg-100 w-[15px];
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-bg-200;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }

    .app {
      display: grid;
      height: 100dvh;
      overflow: hidden;
      grid-template-columns: 250px 1fr;
      grid-template-rows: 70px 1fr max-content;
    }
  </style>
</html>
