---
import '../assets/fonts/inter.css'
import '../assets/fonts/jet-brains-mono.css'

import { BASE_URL } from '../js/constants'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="stylesheet" href={BASE_URL + "/icons/icons.css"}>
    <ViewTransitions />
  </head>
  <body class="bg-midnight-blue">
    <main
      class="font-jet-brains-mono flex flex-col py-[60px] gap-[100px] h-full w-[70%] mx-auto"
    >
      <Header />
      <slot />
    </main>
  </body>
</html>



<style is:global>
  @tailwind utilities;

  body {
    height: 100dvh;
  }

  html {
    /* scrollbar-gutter: 15px; */
  }

  ::-webkit-scrollbar {
  }

  ::-webkit-scrollbar-thumb {
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
</style>
