---
import '../assets/fonts/inter.css'
import '../assets/fonts/jet-brains-mono.css'

import Header from '../components/Header.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main
      class="bg-gradient-to-b from-from-bg to-to-bg min-h-screen font-inter flex flex-col"
    >
      <Header />
      <slot />
    </main>
  </body>
</html>


<style is:global>
  @tailwind utilities;

  html {
    /* scrollbar-gutter: 15px; */
  }

  ::-webkit-scrollbar {
  }

  ::-webkit-scrollbar-thumb {
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
</style>