---
import { BASE_URL } from '../assets/js/constants.js'
import '../assets/fonts/inter.css'
import '../assets/fonts/quicksand.css'

import TopHeader from '../components/TopHeader.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${BASE_URL}/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- Gradient -->
    <div
      class="bg-gradient fixed top-0 left-0 -z-10 w-full h-screen overflow-hidden flex justify-center before:relative before:top-[50%] before:min-w-[200%] before:h-[200%] before:bg-gradient-to-r before:from-sky-blue before:to-sky-blue"
    >
    </div>
    <!--------------------------->

    <TopHeader />

    <main class="mx-auto w-[90%] sm:w-[80%] relative">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @tailwind utilities;

  html {
    scrollbar-gutter: 15px;
    @apply bg-dark-ink-blue font-quicksand text-light-blue;
  }

  ::-webkit-scrollbar {
    @apply bg-dark-ink-blue w-[15px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-dark-slate-blue;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .bg-gradient::before {
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  }
</style>
